@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.social-navbar .MuiIconButton-root {
  padding: 0 !important;
}

.home-navbar .MuiIconButton-root {
  padding: 0 !important;
  font-size: 2rem;
}

.linear-gradient-hero-bg {
  background: linear-gradient(
    to right,
    #ffe6e6 8.52%,
    #f5fffe 68.88%,
    #ffffff 101.74%
  );
}

.swiper-pagination-bullet {
  background-color: #bebebe; /* Example: tomato color */
  width: 12px; /* Custom width */
  height: 12px; /* Custom height */
  opacity: 1; /* Make sure the dots are fully visible */
}

/* Customize the active pagination dot */
.swiper-pagination-bullet-active {
  background-color: #ed553b; /* Example: green color */
}

.add-to-cart-btn {
  position: absolute;
  bottom: 25%;
  left: 10%;
  right: 10%;
  background-color: #ee4122;
  color: white;
  padding: 12px 12px;
  text-transform: uppercase;
  border: none;
  z-index: 20;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease,
    background-color 0.3s ease;
}

.add-to-cart-btn:hover {
  background-color: #e83111;
}

.book-img-wrapper:hover .add-to-cart-btn {
  visibility: visible; /* This will make the button visible on hover */
  opacity: 1;
}
@media screen and (max-width: 1000px) {
  .cart-page form {
    width: 100% !important;
  }
}
